@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(10%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(0.93rem);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInUp {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes zoomIn {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

@keyframes formFieldStretchRight {
  0% {
    border-radius: 100%;
    transform: scaleX(0.06);
  }

  10% {
    border-radius: 3.5rem;
  }

  100% {
    border-radius: 3.5rem;
    transform: scaleX(1);
  }
}

@keyframes btnStretchRight {
  0% {
    border-radius: 100%;
    transform: scaleX(0.35);
  }

  50% {
    border-radius: 3.5rem;
  }

  100% {
    border-radius: 3.5rem;
    transform: scaleX(1);
  }
}

@keyframes textAppeared {
  from {
    color: transparent;
  }

  to {
    color: $c-dark;
  }
}

@keyframes prize__flamingo-show {
  from {
    opacity: 0;
    transform: translateY(100%) rotate(-50deg);
  }

  to {
    opacity: 0.8;
    transform: translateY(-10%) rotate(-5deg);
  }
}

@keyframes prize__flamingo-fly {
  from,
  to {
    transform: translateY(-10%) rotate(-5deg);
  }

  50% {
    transform: translateY(0) rotate(0);
  }
}

@keyframes prize__show-leaf-1 {
  0% {
    opacity: 0;
    transform: rotate(-25deg);
  }

  20% {
    opacity: 1;
    transform: rotate(0deg);
  }

  40% {
    transform: rotate(-15deg);
  }

  60% {
    transform: rotate(0deg);
  }

  80% {
    transform: rotate(-5deg);
  }

  to {
    opacity: 1;
    transform: rotate(0);
  }
}

@keyframes prize__show-leaf-2 {
  0% {
    opacity: 0;
    transform: rotate(25deg);
  }

  20% {
    opacity: 1;
    transform: rotate(0);
  }

  40% {
    transform: rotate(15deg);
  }

  60% {
    transform: rotate(0);
  }

  80% {
    transform: rotate(5deg);
  }

  100% {
    opacity: 1;
    transform: rotate(0);
  }
}

@keyframes story__btn--prev {
  from {
    opacity: 0;
    transform: translateX(-1.5rem) rotate(-90deg);
  }

  to {
    opacity: 1;
    transform: translateX(0) rotate(0);
  }
}

@keyframes story__btn--next {
  from {
    opacity: 0;
    transform: translateX(1.5rem) rotate(90deg);
  }

  to {
    opacity: 1;
    transform: translateX(0) rotate(0);
  }
}

@keyframes rollInRight {
  from {
    transform: translateX(1.5rem) rotate(90deg);
  }

  to {
    transform: translateX(0) rotate(0);
  }
}
